
*{
    padding: 0%;
    margin: 0%;
}

header{
    background-color: none;
    position: fixed;
    top: 0px;
    z-index: 99;
    overflow: hidden;
    width: 100%;
    transition: background-color 0.4s ease-in-out;
}
header.scrolled{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

nav{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    height: 35px;
    transition: .2s;
}
.icon:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.leftmenu{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.ham{
    padding: 5px 0 0 0;
    color: rgb(255, 255, 255);
    transition: color .3s;
}
.ham.scrolled{
    color: rgb(0, 0, 0);
}
.title{
    color: rgb(255, 255, 255);
    font-size: 2.8em;
    font-weight: 500;
    transition: color .3s;
}
.title.scrolled{
    color: rgb(0, 0, 0);
}

.rightmenu{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search{
    color: rgb(255, 255, 255);
    transition: color .3s;
}
.search.scrolled{
    color: rgb(0, 0, 0);
}
.wishlist{
    color: rgb(255, 255, 255);
    transition: color .3s;
}
.wishlist.scrolled{
    color: rgb(0, 0, 0);
}
.cart{
    color: rgb(255, 255, 255);
    transition: color .3s;
}
.cart.scrolled{
    color: rgb(0, 0, 0);
}
.user{
    color: rgb(255, 255, 255);
    transition: color .3s;
}
.user.scrolled{
    color: rgb(0, 0, 0);
}




.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}
.banner h1{
    color: aliceblue;
}
.newArrivals{
    min-height: 65vh;
    margin: 45px 0;
    justify-content: flex-start;
}
.heading1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.cards{
    padding: 40px 40px 60px 40px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: 500px;
}
.card1, .card2, .card3, .card4{
    border: 2px solid black;
}

.options{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 6em
}
.opt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20em;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 2rem;
    background-color: #8f8f8f;
}
.men{
    display: flex;
    justify-content: center;
    align-items: center;
} 
