*{
    padding: 0%;
    margin: 0%;
}
header{
    padding: 15px 15px;
}
nav{
    display: grid;
    grid-template-columns: 65px 1fr auto;
    column-gap: 10px;
}
#logo{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    
}
.links{
    display: grid;
    list-style-type: none;
    grid-template-columns: 50px 50px 50px 50px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    height: 32px;
}
#search{
    padding: 3.5px 0;
    height: 25px;
}
#cart{
    padding: 2px 0;
    height: 28px;
}
img{
    height:auto;
    width:100%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;

}
.card1,.card2,.card3,.card4,.card5,.card6{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c1d1e;
    color: #f1f5f3;
}
button{
    width: 100%;
    padding: 10px;
    background-color: white;
    font-weight: bold;
}
